<div id="header-wrapper">
    <header id="header" class="container">
            <div id="logo">
                <h1> <a href="index.html"> YummyAnimeShop </a></h1>
            </div>
                <nav id="nav">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наші послуги</a>
                    <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
                </nav>
</header>
</div>